html,
body {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f3f5f3;
  max-width: 840px;
}

a {
  color: #577c54;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

img {
  margin : 0 auto;
  max-width: 100%;
  display: block;
}

blockquote {
  color: rgb(112, 110, 110);
  border-left: 0.2rem solid #9c9ea0;
  padding: 0 0 0 1rem;
  margin: 1rem 0;
}

code[class*="language-"]{
  font-size: 15px;
  font-family: Consolas, Monaco, monospace;
}

/* Inline code */
:not(pre) > code {
	padding: 0.2em 0.4em;
  font-size: 85%;
  color: #000000d1;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  background-color: #7a95b612;
  border-radius: 3px;
	white-space: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
	border-bottom: 1px solid #aaa;
  color: #555;
	margin-bottom: 20px;
}

th {
	border-top: 1px solid #aaa;
  padding: 10px 0 10px 6px;
	text-align: left;
}

td {
	border-top: 1px solid #aaa;
	padding: 10px 6px 10px 6px;
}
